{% extends 'SLLHHybridAuthBundle::layout.html.twig' %}

{% block sllh_hybridauth_content %}
    <h3>Register with {{ provider }}</h3>
    <div>
        <img src="{{ user_profile.photoURL }}" />
        <span>{{ user_profile.displayName }}</span>
    </div>
    <div>
        <form action="{{ path('hybridauth_connect_register') }}" {{ form_enctype(form) }} method="POST">
            {{ form_widget(form) }}
            <div>
                <button type="submit">OK</button>
                <a href="{{ path('hybridauth_connect') }}">Cancel</a>
            </div>
        </form>
    </div>

{% endblock sllh_hybridauth_content %}